

.gitlight-status .merge-conflict li {
  color: #ca2d2d
}


.gitlight-status .staged li {
  color: #07ae8f;
}


.gitlight-status .not-staged li.modified {
  color: #d7ce00;
}

.gitlight-status .untracked li.untracked {
  color: #43acd8;
}
